# BDOSS environment
Host 10.0.0.*
    IdentityFile ~/.ssh/environment.key
    User ubuntu
    ProxyCommand  ssh -i ~/.ssh/private.key jstein@BASTION_IP nc %h %p
Host 10.0.2.*
    IdentityFile ~/.ssh/environment.key
    User ubuntu
    ProxyCommand  ssh -i ~/.ssh/private.key jstein@BASTION_IP nc %h %p
